<div id="preLoginContent" class="container">
  <div class="info">
    <h1>Система запиту документів</h1>
    <p>Ласкаво просимо до нашої системи запиту документів. Тут ви можете зручно замовити необхідні вам документи з різних відділів нашої організації.</p>
    <p>Для отримання доступу до системи, будь ласка, увійдіть у свій обліковий запис.</p>
  </div>
  <app-login></app-login>
</div>

<div id="postLoginContent" class="hidden">
  <h2>Виберіть відділ:</h2>
  <div class="mainpage-offices">
    <div class="mainpage-office" (click)="showDepartmentDocuments('hr')">
      <h3>Особисті довідки</h3>
      <p>Відділ видачі документів ідентифікації людини.</p>
      <span>+38 095 123 456</span>
      <span>personal gmail.com</span>
    </div>
    <div class="mainpage-office" (click)="showDepartmentDocuments('finance')">
      <h3>Фінанси</h3>
      <p>Відділ фінансів.</p>
      <span>+38 050 123 456</span>
      <span>income@gmail.com</span>
    </div>
  </div>

  <div id="documentList" class="hidden">
    <h3>Доступні документи:</h3>
    <div id="documentOptions"></div>
  </div>

  <div id="notification" class="hidden">
    Дякуємо, документи на опрацюванні, очікуйте.<br />
    Дата подання заявки: <span id="requestDate"></span><br />
    Очікувана дата отримання: <span id="expectedDate"></span>
  </div>
</div>
