.container {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  width: fit-content;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.container:not(:has(.info)) {
  flex-direction: column;
  max-width: 300px;
}

.container:has(.info) :is(.info, .login) {
  width: 45%;
}

.notification {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
