header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3332;
  padding: 10px;
}

.nav-links a {
  text-decoration: unset;
  color: black;
  background: rgb(var(--accent--rgb),.1);
  border-radius: var(--radius);
  padding: .5em 1em;
  transition: .3s;
}

.nav-links a:hover {
  background: rgb(var(--accent--rgb),.3);
  color: white;
}

.nav-panel {
  display: flex;
  align-items: center;
  gap: .5em;
}
