.search-filter {
  display: flex;
  align-items: center;
  padding: 0 0.5em;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: var(--radius);
  margin-bottom: 10px;
}

.search-filter input {
  width: unset !important;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  text-align: left;
}
