.login {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.valid-text {
  display: block;
  border: 1px solid rgb(255,119,119);
  border-radius: var(--radius);
  padding: .5em 1em;
  margin: 5px 0;
  color: rgb(255,119,119);
}

.valid-text.success {
  border: 1px solid;
  color: rgb(109, 236, 116);
}

input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input:active {
  border-color: var(--accent);
}

div:has(> .material-symbols-rounded) {
  display: flex;
  align-items: center;
  position: relative;
}

.material-symbols-rounded {
  position: absolute;
  right: .5em;
  color: gray;
  cursor: pointer;
}
