<main>
  <section class="users-section">
    <h1>Управління документами користувачів</h1>

    <div class="filters-container">
      <div class="search-container">
        <input
          type="text"
          placeholder="Пошук користувачів..."
          (input)="onSearchChange($event)"
        >
      </div>
      <div class="select-filters">
        <select
          (change)="onSortChange($event)"
        >
          <option value="">Сортувати за...</option>
          <option value="firstName">Ім'ям</option>
          <option value="requestDate">Датою запиту</option>
          <option value="status">Статусом</option>
        </select>
      </div>
    </div>

  <div class="table-container">
  <table>
    <thead>
    <tr>
      <th>Користувач</th>
      <th>Документ</th>
      <th>Дата запиту</th>
      <th>Статус документів</th>
      <th>Дії</th>
    </tr>
    </thead>
    <tbody>
      @for (doc of activeDocuments(); track doc.documentId) {
        <tr>
          <td>{{ doc.firstName }} {{ doc.lastName }}</td>
          <td>{{ doc.documentName }}</td>
          <td>{{ doc.requestDate | date:'short' }}</td>
          <td>
            @switch (doc.status) {
              @case ('On process') {
                <span class="status status-processing">На опрацюванні</span>
              }
              @case ('Received') {
                <span class="status status-received">Видано</span>
              }
            }
          </td>
          <td>
            @if (doc.status === 'On process') {
              <button
                class="action-button"
                (click)="completeDocument(doc.userLogin, doc.documentId)"
              >
                Видати
              </button>
            }
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="6" class="empty-state">Немає користувачів для відображення</td>
        </tr>
      }
    </tbody>
  </table>
  </div>

  <div class="pagination">
    <button
      (click)="onPageChange(currentPage() - 1)"
      [disabled]="!hasPreviousPage()"
    >
      &lt;
    </button>

    @for (page of [].constructor(totalPages()); track $index) {
      <button
        (click)="onPageChange($index + 1)"
        [class.active]="currentPage() === $index + 1"
      >
        {{ $index + 1 }}
      </button>
    }

    <button
      (click)="onPageChange(currentPage() + 1)"
      [disabled]="!hasNextPage()"
    >
      &gt;
    </button>
  </div>
  </section>
</main>
