<main>
  <h1>Сторінка працівника</h1>
  <table id="userTable">
    <thead>
    <tr>
      <th>Ім'я</th>
      <th>Документ</th>
      <th>Статус документів</th>
      <th>Дії</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.name }}</td>
      <td>{{ user.document }}</td>
      <td>
        <font [color]="user.status === 'Видано' ? 'green' : 'orange'">{{ user.status }}</font>
      </td>
      <td>
        <button *ngIf="user.status !== 'Видано'" (click)="changeStatus(user)">Позначити як видано</button>
      </td>
    </tr>
    </tbody>
  </table>
</main>
