<footer>
  <div class="footer-content">
    <div class="contacts-container">
      <h3>Контакти:</h3>
      <div class="contact-section" *ngIf="personalReferences">
        <h4>Особисті довідки:</h4>
        <span>{{ personalReferences.phoneNumber }} | {{ personalReferences.email }}</span>
      </div>
      <div class="contact-section" *ngIf="financeDepartment">
        <h4>Фінанси:</h4>
        <span>{{ financeDepartment.phoneNumber }} | {{ financeDepartment.email }}</span>
      </div>
    </div>
    <div class="copyrite">
      <span>© Видача Документів, 2024</span>
    </div>
  </div>
</footer>
